<div >
	<button class="btn btn-success" ng-show="hasPartial" ng-click="continuePartial()">Continue Partial Daily</button>
	
	<b style='font-size:12px;'>Search:</b>&nbsp;&nbsp;<input size='20' ng-model="searchText" style='font-size:12px; width:400px;'><br><br>
	<table class="home">
		<thead>
			<tr class="header-row">
				<td>Edit</td>

				<td>Shift Report<br>ID</td>

				<td>Date</td>

				<td>Shift</td>

				<td>Rig</td>

				<td>Hole</td>

				<td>Depth From</td>

				<td>Depth To</td>

				<td>Job</td>

				<td>Client Approved</td>

				<!-- <td>Delete</td> -->

				<td>Resend Button</td>
				<td>Supervisor Approval</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="r in records | filter:searchText:records">
				<td>
					<button ng-click="editDaily($index)">Edit</button>
				</td>

				<td>{{r.Id}}</td>

				<td>{{r.date}}</td>

				<td>{{r.Crew_Shift}}</td>

				<td>{{r.Rig}}</td>

				<td>{{r.Hole_Number}}</td>

				<td>{{r.Depth_From}}</td>

				<td>{{r.Depth_To}}</td>

				<td>{{r.Job}}</td>

				<td style='font-size:12px;'>
							<div ng-if="r.Approved == '1'" style='font-size:12px; color:#1A8C04;'>
								Yes
							</div>
							<div ng-if="r.Approved != '1'" style='font-size:12px; color:#900;'>
								No
							</div>

				</td>

				<!-- <td>
					<button ng-click="deleteDaily($index)">Delete</button>
				</td> -->

				<td >
					<button ng-click="resend($index)">Resend</button>
				</td>
				<td>
					<div ng-if="r.Supervisor_Approved == '1'">
						
						<button class="btn btn-success btn-xs" >Approved</button>
					</div>
					<div ng-if="r.Supervisor_Approved != '1'">
						
						<button class="btn btn-xs" ng-click="supervisorApprove(r.Id)">Approve</button>
					</div>

				</td>

			</tr>
		</tbody>
	</table>
</div>